extends layout

block content
  div.panel.panel-default.center-block
    div.panel-body
      p.panel-top.text-center Find a carer

      form#search-form(role="form") 
        div.form-group
          label(for="skills") Search by skill
          input.form-control#skills
          label(for="postcode") Search by postcode
          input.form-control#postcode

          div.spacer
          button.btn.center-block.btn-success(type="submit") Search

      div#results
