doctype html
html
  head
    title= title

    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.12.0-rc.2/themes/smoothness/jquery-ui.css')

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-tokenfield.min.css')

  body
    .nav-limiter
       nav.navbar.navbar-default
         .container-fluid
           ul.nav.navbar-nav
             li.active
               a(href="/") Search for carers
             li
               a(href="/register") Register as carer

    block content
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js')
    script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

    script(src='/javascripts/bootstrap-tokenfield.min.js')
    script(src='/javascripts/global.js')
