body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.panel {
        padding: 40px;
        width: 40%;
}

.panel-top {
        font-size: 35px;
}

.panel-body {
}

button {
}
